[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"

[packages]
django = "*"
django-tables2 = "*"
django-crispy-forms = "*"
django-filter = "*"
django-simple-menu = "*"
whitenoise = "*"
django-environ = "*"
crispy-forms-semantic-ui = "*"

[requires]
python_version = "3"

[scripts]
server = "python manage.py runserver"
test = "python manage.py test"
manage = "python manage.py"
migrate = "python manage.py migrate"
